@using U20654172_HW03.Models
@{
    ViewBag.Title = "About";
}

<div class="row">
    <h1>Jemma Kay Davy</h1>
    <p class="lead"> A little something about me...</p>

</div>

<div class="row" style="background-color:aqua;">
    <div class="col-md-4">
        <h2>Biography</h2>
        <p>
            I am Jemma Kay Davy. I am a 21 year old student studying Bcom Informatics at the University of Pretoria.
            I am an intelligent, enthusiastic, self-motivated and honest individual who Works well with people.
            I am a fast learner that works exceedingly well under pressure... sometimes.
            I come from a wonderful family that has always put their children first, I have a younger brother whom i love very much.
            Without my family i feel as though life would be unimportant and way less entertaining, they are the reason I aim to better myself.
            I took interest to coding within my first year of doing Bcom Informatics as this is an ever-growing skill to have for the future.
        </p>

    </div>
    <div class="col-md-4">
        <h2>The lady herself:</h2>
        <img src="~/Pictures/Media/Myself.jpeg" alt="Jemma's picture" style="height:400px; width:400px;" />
    </div>
</div>